# Coursera Capstone Project

***This notebook will be used for Coursera Capstone Project***

In [515]:
import pandas as pd
import numpy as np
import folium
import os
import csv

In [516]:
df = pd.read_csv('~/Desktop/Geospatial_Coordinates.csv')

In [517]:
from bs4 import BeautifulSoup
os.chdir (r'C:\Users\Shuhao\Desktop')
with open("List_of_postal _codes_of_Canada.html",encoding="utf8") as rawdata:
    data = BeautifulSoup(rawdata,'lxml')
table = data.table

In [518]:
f = open('output.csv', 'w')
head = 'Postcode' + "," + 'Borough' + "," + 'Neighbourhood' + ","
f.write(head)
for row in table.findAll("tr"):
    cells = row.findAll("td")
    #For each "tr", assign each "td" to a variable.
    if len (cells) != 0:
        Postcode = cells[0].find(text=True)
        Borough = cells[1].find(text=True)
        Neighborhood = cells[2].find(text=True)
        write_to_file = Postcode + "," + Borough + "," + Neighborhood.lstrip('\n').strip() + ","
        f.write ('\n')
        f.write (write_to_file)
f.close()

In [519]:
df = pd.read_csv('output.csv')
df.head()

  Postcode           Borough     Neighbourhood  Unnamed: 3
0      M1A      Not assigned      Not assigned         NaN
1      M2A      Not assigned      Not assigned         NaN
2      M3A        North York         Parkwoods         NaN
3      M4A        North York  Victoria Village         NaN
4      M5A  Downtown Toronto      Harbourfront         NaN

In [520]:
#column1 = dft.iloc[::3].reset_index(level=0)
#column2 = dft.iloc[1::3].reset_index(level=0)
#column3 = dft.iloc[2::3].reset_index(level=0)

In [521]:
#df2 = column1.join(column2,lsuffix='_left', rsuffix='_right')
#df3 = df2.join(column3)
#df3.rename(columns={'index_left': 'Postcode', 'index_right': 'Borough','index': 'Neighbourhood'}, inplace=True)
#df3.head()

In [522]:
df2 = df[df.Borough.str.contains('Not assigned') == False]
df3 = df2.drop('Unnamed: 3', axis =1)
df3.reset_index(drop=True, inplace=True)
df3.head (7)

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights
5      M6A        North York    Lawrence Manor
6      M7A      Queen's Park      Not assigned

In [523]:
df3[df3['Neighbourhood'].str.contains("Not assigned")]

  Postcode       Borough Neighbourhood
6      M7A  Queen's Park  Not assigned

In [524]:
df3.loc[6, 'Neighbourhood'] = df3.loc[6, 'Borough']
df3.head (7)

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights
5      M6A        North York    Lawrence Manor
6      M7A      Queen's Park      Queen's Park

In [530]:
df4 = df3
for i in range (1,102):
    if df4.loc[i, 'Postcode'] == df4.loc[i+1, 'Postcode']:
        df4.loc[i, 'Neighbourhood'] = df4.loc[i, 'Neighbourhood'] + ',' + df4.loc[i+1, 'Neighbourhood']
        df4.drop(df4.index[i+1], inplace = True)
        df4.reset_index(drop=True, inplace=True)

In [565]:
df5 = df4.sort_values(['Postcode'])
df5.reset_index(drop=True, inplace=True)
df5.shape

(103, 3)